# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store!/plan/
/.lingma/
run
run-client
run-server
build
plan
/.gradle/8.8/checksums/checksums.lock
/.gradle/8.8/checksums/md5-checksums.bin
/.gradle/8.8/checksums/sha1-checksums.bin
/.gradle/8.8/checksums/sha256-checksums.bin
/.gradle/8.8/checksums/sha512-checksums.bin
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/8.8/fileChanges/last-build.bin
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/.gradle/8.8/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint.bin
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint208777163915269551.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint2637069775765823013.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint3666320894318343800.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint4377864281554832737.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint6712609531143324268.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint8351589772876578333.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint8401221806948567122.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9208305659774855780.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9332385404376645126.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9463070100394684062.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9525337446057312578.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9691752483433253744.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint9992692748718962686.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint10061067386011078993.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint10489202582029368172.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint10955668038326885732.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint11100339777938260101.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint11215244506797757224.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint12506478251132101642.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint13104070452870185338.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint13140957139330989935.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint13370620414953954504.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint13809215314240542798.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint14113803410552015037.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint14145296523188096020.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint15344026900693706093.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint17190532459735382816.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/buildfingerprint18285484887273366063.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/entry.bin
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint.bin
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint1317836459931582174.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint1522929566860811473.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint3334764308063837876.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint5873849198038291040.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint6074707044118285827.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint6217867673492298522.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint6588223726236200290.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint7253206281104514857.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint7900940615609743166.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint8247409600407163216.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint8299562110563845812.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint8400296853410838520.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint8455482526909401618.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint9313475282001944454.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint9670120797351102973.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint10328480687203475007.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint10518141924162658552.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint10644690800218353902.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint12063723016096874875.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint14177588724521646436.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint14207544668072648208.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint14291175510951067218.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint15407740482557900787.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint15944797451820137182.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint16824504034994095404.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint17275946038089095434.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint18218468347031269594.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/projectfingerprint18220563007179710229.tmp
/.gradle/configuration-cache/fnyp7sgjel0s2b1nci8u3tl/work.bin
/.gradle/configuration-cache/configuration-cache.lock
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/modules/1.21.1-neoforge.iml
/.idea/modules/1.21.1-neoforge.main.iml
/.idea/modules/1.21.1-neoforge.test.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/LanguageServersSettings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.kotlin/sessions/kotlin-compiler-6292249490250563157.salive
/.kotlin/sessions/kotlin-compiler-15980241241580630699.salive
/mods/[自定义局域网联机] lanserverproperties-1.13.1-neoforge.jar
/mods/architectury-13.0.8-neoforge.jar
/mods/caelus-neoforge-7.0.1+1.21.1.jar
/mods/cloth-config-15.0.140-neoforge.jar
/mods/curios-neoforge-9.1.4+1.21.0.jar
/mods/CustomSkinLoader_ForgeV3-14.21.jar
/mods/dummmmmmy-1.21-2.0.6-neoforge.jar
/mods/embeddium-1.0.11+mc1.21.1.jar
/mods/moonlight-1.21-2.16.0-neoforge.jar
/mods/samurai_dynasty-0.1.2-1.21.1.jar
/mods/[自定义局域网联机] lanserverproperties-1.13.1-neoforge.jar
/gradlew
/gradlew.bat
/mods/[自定义局域网联机] lanserverproperties-1.13.1-neoforge.jar
/.kotlin/sessions/kotlin-compiler-9306346994558215.salive
